--- 
--- 

@import "{{site.theme}}";

body {
    background-color:#D0A7E9;
    padding:50px;
    
}

h2{
    text-align: center;
}

h3{
    font-size: 14px;;
}

.Price{
    background-color:#EADDF2 ;
    border:2px solid black;
    padding: 10px;
    margin:10px;
}